.header {
  display: flex;
  box-sizing: border-box;
  background-color: #2a2c2f;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_art {
  width: 254px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}

.logo {
  max-width: 32px;
  max-height: 32px;
}

.texto_do_logo {
  width: 254.84px;
  height: 14.94px;
}

.lead {
  display: flex;
  max-width: 984px;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.title {
  max-width: 793px;
  font-family: intervariable;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
}

.subtitle {
  max-width: 720px;
  font-family: "InterVariable";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}

.lead_image {
  max-width: 984px;
  height: 615px;
  margin-top: 64px;
}

.lead_image_cover {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
  .title {
    max-width: 720px;
  }
  .subtitle {
    max-width: 720px;
  }
  .lead_image {
    max-width: 768px;
    height: 480px;
    margin-top: 32px;
  }
  .lead_image_cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }

  .logo_art {
    max-width: 254px;
  }
  .logo {
    max-width: 23.77px;
    max-height: 23.77px;
  }
  .texto_do_logo {
    width: 189.31px;
    height: 11.26px;
  }
  .lead {
    margin-top: 48.94px;
  }
  .title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
  .subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
  .lead_image {
    max-width: 320px;
    height: 200px;
    margin-top: 40px;
  }
  .lead_image_cover {
    max-width: 100%;
  }
}
