.intro {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  margin-top: 92px;
  box-sizing: border-box;
  margin-right: 154px;
}
.intro__title {
  max-width: 800px;
  font-family: intervariable;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  text-align: left;
}
.intro__subtitle {
  font-family: intervariable;
  max-width: 800px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-right: calc(394.22px - 302px);
}
.intro__author {
  font-family: intervariable;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin-top: 10px;
  margin-right: calc(400px - 302px);
  margin-bottom: 0;
}
.intro__text {
  max-width: 100vh;
  font-family: intervariable;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  margin-top: 32px;
  margin-right: calc(410.26px - 302px);
  margin-bottom: 0;
}

@media screen and (max-width: 850px) {
  .intro {
    max-width: 720px;
    margin: 0;
  }

  .intro__title {
    max-width: 720px;
  }

  .intro__subtitle {
    margin-top: 58px;
    margin-right: auto;
  }
  .intro__author {
    margin: 0;
  }
  .intro__text {
    margin-top: 32px;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    max-width: 288px;
    margin-top: 54px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }
  .intro__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
  }
}
