.main_photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  margin-top: 118px;

  padding: 0;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 12px;
}

.main_photo-grid_image {
  padding: 0;
  border: 0;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .main_photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    margin-top: 90px;
    padding: 0;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 320px) {
  .main_photo-grid {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
