.places {
  display: flex;
  flex-wrap: wrap;
  max-width: 987px;
}

.places_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: nowrap;
  grid-template-rows: auto;

  justify-content: flex-start;
  margin-top: 80px;
  column-gap: 40px;
}

.places_card_title {
  max-width: 460px;
  font-family: intervariable;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: start;
  margin: 0;
  margin-bottom: 48px;
}

.places_card_url {
  display: flex;
  max-width: 484px;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.places_card_url_website {
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: start;
  margin-bottom: 8px;
  color: #aaa;
}
.places_card_url_text {
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  margin: 0;
}
.places_card_img {
  display: flex;
  max-width: 460px;
  height: 460px;
}
.places_card_img_item {
  max-width: 100%;
}
.places_card_text {
  display: flex;
  flex-direction: column;
  max-width: 484px;

  row-gap: 25px;
}

.places_card_text_paragraph {
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  text-align: start;
  margin: 0;
}

.places_card_button {
  margin-top: 48px;
  font-family: intervariable, sans-serif, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  height: 48px;
  width: 285px;
  padding: 13px, 20px, 13px, 20px;
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 733px;
  }

  .places_card {
    max-width: 720px;
  }
  .places_card_img {
    display: flex;
    max-width: 340px;
    max-height: 340px;
  }
  .places_card_text {
    row-gap: 14px;
  }

  .places_card_text_paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }
  .places_card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
  }
  .places_card_title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .places_card_url {
    width: 288px;
    margin-bottom: 30px;
  }

  .places_card_img {
    display: flex;
    max-width: 320px;
    height: 320px;
    margin-bottom: 30px;
  }
  .places_card_text {
    display: flex;
    flex-direction: column;
    max-width: 288px;
  }
  .places_card_text_paragraph {
    font-size: 16px;
    line-height: 26.084px;
  }

  .places_card_button {
    font-size: 14px;
    line-height: 16.94px;
  }
}
